.italics
{
    font-style: italic;
}
.detail
{
    border-width: thin;
}
.movie-detail
{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
.poster
{
	width: 200px;
	float:left;
}
.detail
{
	margin-left: 200px;
}
