<div class="movie-detail">
	<div class="poster">
		<img [src]="getImageUrl()">
	</div>
	<div class="title">
		<h1>
			{{movieDetail?.title}}
			<small>{{getMovieYear()}}</small>
		</h1>
	</div>
	<hr>
	<div class="detail">
		<span class="italics">{{movieDetail?.tagline}}</span>
		<a (click)="getGenreInfo(genre.id)" *ngFor="let genre of movieDetail?.genres" class="btn btn-default btn-xs" href="#" role="button">{{genre.name}}</a>
		<p class="overview text-justify">
			{{movieDetail?.overview}}
		</p>
	</div>
	<hr>
	<div class="release-dates">
		<span *ngFor="let releaseDate of releaseDates">{{releaseDate.type}} {{releaseDate.release_date}} - {{releaseDate.certification}}</span>
	</div>
	<hr>
	<div class="cast">
		Cast:<br>
		<span *ngFor="let castMember of movieCredits?.cast">{{castMember.name}}<br></span>
	</div>
	<hr>
	<div class="crew">
		Crew<br>
		<span *ngFor="let crewMember of movieCredits?.crew">{{crewMember.name}} = {{crewMember.department}} - {{crewMember.job}}<br></span>
	</div>
	<hr>	
</div>
<div class="json">
	<hr> ReleaseDates JSON: <br>
	<p>
		{{ releaseDates | json }}
	</p>
	<hr> MovieCredits JSON: <br>
	<p>
		{{ movieCredits | json }}
	</p>
	<hr> ImageConfig JSON: <br>
	<p>
		{{ imageConfig | json }}
	</p>
	<br> 
	<hr> MovieDetail JSON: <br>
	<p>
		{{movieDetail | json }}
	</p>
</div>